.book-list-container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
}



.theme-red .book-item {
    border: 2px solid #b71c1c;
}

.theme-red .book-title {
    color: #b71c1c;
}

.theme-green .book-item {
    border: 2px solid #2e7d32;
    border-radius: 12px;
    background: #f1f8e9;
}

.theme-green .book-title {
    color: #2e7d32;
}